// width
$width-sm: 320px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

// colors
$white-color: #ffffff;
$red-color: #D90000;
$text-color: #0C1014;
$label-color: #6A6E72;
$placeholder-color: rgba(70, 70, 70, 0.8);
$btn-reset-color: #0848C0;
$modal-overlay-bg-color: rgba(0, 0, 0, 0.42);
$border-color: #D6DADE;
$button-bg-color: #E5266E;
$success-color: #05aa2d;

//fonts
$primary-text-font: PT_Sans;
$secondary-text-font: Lato;
$title-font: Montserrat;






